    <header class="header">
    <ul id="nav-list" class="nav">

      <li class="navHome" ><a href="../users/add">Home</a></li>
      <li class="navMember"><a href="../users/list">Family</a></li>
      <li class="navChore"><a href="../chores/add-chore">Parent Page</a></li>
    </ul>
    </header>


   


      <li><a href="../index.html" class="nav-link">Home</a></li>
      <li><a href="../index.html" class="nav-link">Family</a></li>
      <li class="nav-link">Contact</li>
    </ul>
    </header>

