<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chores</title>
</head>
<body>
    <h1>Chores</h1>
    <form id="add">
          <legend>Add Chores</legend>
          <div>
            <label for="chore">Chore</label>
            <input type="text" name="chore" id="chore" />
          </div>
           <div>
            <label for="day">Day</label>
            <input type="text" name="day" id="day" />
          </div>
          <div>
            <label for="MemberId">Id</label>
            <input type="number" name="MemberId" id="MemberId" />
          </div>
          <div> 
        <button type="submit">Add Contact</button>
      </form>
      <a href="./list">&larr; Member List</a>
      <script src="../script.js" type="text/javascript"></script>
</body>
</html>