
  ${head}
    
      <h2>Add Chore</h2>
      <form  id="add">
        <p>
        <input placeholder="Chore Name" for="chore" type="text" id="chore" name="chore"><br>
        </p>
        <p>
        <input placeholder="Day" type="text" for="day" id='day' name='day'>
        </p>
        <p>
            <!-- <input placeholder="Child Id" name="MemberId" id="MemberId" for="MemberId" type='number'> -->
       </p>
        <button id="userBtn" type="submit" class="userBtn">Add Chore</button>
    </form>

      ${foot}
    