<!DOCTYPE html>
<html lang="en">
${head} 
<body>
    <div class='todoApp' id='todoApp'>
      <h2>Ally's Chores'</h2>
      <form action='/chores/add' method='POST'>
      <input type='text' class='addchore' name='addchore' placeholder="Enter a new chore">
      <button type='submit' class='add' id='add'>Add</button>
      </form>
    <ul class='list' id='list'>
      <li class='listitem' id='listitem'>Wash the Dishes</li>
      <li class='listitem' id='listitem'>Take out the Trash</li>
      <li class='listitem' id='listitem'>Laundry</li>
    </ul>
  </div>
  <script src='../public/images/logo.png' type=javascript></script>
</body>
${foot}




  
  