<!DOCTYPE html>
<html lang="en">
${head}
<body>
    <div class='todoApp' id='todoApp'>
      <h2>${name}'s Chores'</h2>
      <input type='text' class='addchore' placeholder="Enter a new chore">
      <button class='add' id='add'>Add</button>
    
    <ul class='list' id='list'>
      <li class='listitem' id='listitem'>Wash the Dishes</li>
      <li class='listitem' id='listitem'>Take out the Trash</li>
      <li class='listitem' id='listitem'>Laundry</li>
    </ul>
  </div>
  <script src='../public/scripts/chores.js' type=javascript></script>
</body>






  
  