
    ${head}
        <h2>Chore App for Busy Families</h2>
        <br>
        <h3>Helping Kids to Help Parents</h3>
        <p>Get started by adding family members</p>

    <form class="addUser">
        <p>
        <input placeholder="First Name" type="text" id="fname" name="fname"><br>
        </p>
        <p>
        <input placeholder="Age" type="number" id='age' name='age'>
        </p>
        <p>
            <input placeholder="E-mail Address" type='email'>
       </p>
        <button id="userBtn" class="userBtn">Add User</button>
    </form>

${foot}