${head}
  <div class="y-wrap">
    <h1>Chore App for Busy Families</h1>
    <br>
    <h3>Helping Kids to Help Parents</h3>
    <p>Get started by adding family members</p>
    <div class="formdiv">
      <form class="forms">
        <input placeholder="First Name" for="name" type="text" id="name" name="name">
        <input placeholder="Age" type="number" for="age" id='age' name='age'>
        <input placeholder="E-mail Address" for="age" type='email'>
        <button id="userBtn" type="submit" class="userBtn">Add Member</button>
      </form>
      <div class='logodiv'>
          <img src="../logo.png" class='logo'>
      </div>
    </div>
  </div>
</main>
${foot}