* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

header {
  background-color: #70e2d2;
  color: #3a0e7b;
  text-align: center;
  padding: 25px;
}

button {
  background-color: #3a0e7b;
  border-radius: 10px;
  color: white;
  padding: 16px;
  max-width: 160px;
  margin: 30px auto 0;
}

.forms {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto;
  width: 80%;
}

input {
  padding: 10px;
  border-radius: 15px;
  margin: 8px 0;
}

.logodiv {
  margin: 60px auto 0;
  width: 40%;
}

.logodiv img {
  width: 100%;
}

a {
  color: #3a0e7b;
  text-decoration: none;
}

a:hover {
  color: #fff24f;
}

.nav {
  justify-content: flex-end;
}

.navHome,
.navMember,
.navChore {
  margin: 17px;
  color: #3a0e7b;
  font-size: 20px;
}

main {
  background-color: #70e2d2;
  color: #3a0e7b;
  flex: 1 0 auto;
}

footer {
  background-color: #fff24f;
  color: #3a0e7b;
  font-size: 15px;
  text-align: center;
  padding: 40px 30px;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.y-wrap {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
